{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-styled-components", { "fileName": true, "displayName": true, "pure": true, "ssr": true}],
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "~": ["./*"],
          "@pages/*": ["./pages/*"],
          "@components/*": ["./components/*"],
          "@api/*": ["./api/*"],
          "@assets/*": ["./assets/*"],
          "@utils/*": ["./utils/*"],
          "@hooks/*": ["./hooks/*"],
          "@styles/*": ["./styles/*"],
          "@apis/*": ["./apis/*"]
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]]
}

